[user]
	name = HaChan
	email = hades.24791@gmail.com
[color]
  ui = true
  branch = true
  diff =true
  interactive = true
  status = true
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	longpaths = true
[diff]
  tool = vimdiff
  prompt = false
[alias]
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  changes = diff --name-status -r
  diffstat = diff --stat -r
  gitkconflict = !gitk --left-right HEAD...MERGE_HEAD
  updatepullreq = !sh -c 'git commit -a --amend && git push origin $1 -f' -
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  d = difftool
  list-untrack = ls-files -o --exclude-standard --full-name # list untracked files
  list-modified = ls-files -m --exclude-standard --full-name # list modified files.
  list-all = ls-files -mo --exclude-standard --full-name # list files changed and untracked files
  addall = ! git add $(git list-all)
  untrack = update-index --assume-unchanged
  previous-version = !sh -c 'git reset HEAD~1 $1 && git checkout $1'
  show-diff-files = ! git list-all | uniq | xargs bash -c '</dev/tty vim "$@"'
  show-current-commited = ! git diff-tree --no-commit-id --name-only -r HEAD | uniq | xargs bash -c '</dev/tty vim "$@"'
  rescue = !git fsck --full --no-reflogs --unreachable --lost-found | grep commit | cut -d\\  -f3 | xargs -n 1 git log -n 1 --pretty=oneline
